<!-- THIS SITE IS LICENSED UNDER THE CIR-LICENSE. FOR MORE INFO VISIT https://github.com/Yuri010/CIR-License/
ORIGINAL CAN BE FOUND AT https://github.com/Yuri010/CIR-License/blob/main/License.md -->

<!-- Use General Markdown syntax (Mostly the same as Discord), but some HTML things work too -->
<!-- First Header appears as page title -->
